
body {
  width: 100vw;
  height: 100vh;
}

header {
  background-color: red;
}

nav {
  background-color: green;
}

main {
  background-color: blue;
  display: flex;
}

aside {
  background-color: aqua;
}

h1,
h2,
h3,
body {
  margin: 0;
}

.caja {
    width: 200px;
    height: 100px;
    border: 10px solid blue;
    padding: 10px;
    margin: 15px;
}

.caja:hover {
    background-color: red;
}

.caja:active {
    background-color: green;
}

.input:focus {
    background-color: yellow;
}

.article {
  background-color: blueviolet;
}

.article:first-child {
    background-color: white;
}

.article:last-child {
    background-color: chocolate;
}

.inicio:visited {
  color: red;
}

.inicio:link {
  color: white;
}